.sidebar {
  background-color: wheat;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --footer-height: 64px;
}

.sidebar-options {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: var(--action-bar-height);
}

.sidebar-option {
  display: inline-flex;
  padding: .8rem;
  margin: 1.2rem;
  min-width: 96px;
  max-width: 120px;
  border-radius: 8px;
  color: white;
  background-color: rgb(95, 204, 204);
  transition: background-color .3s;
  cursor: pointer;
}
.sidebar-option:hover {
  background-color: var(--hover);
}
.sidebar-option.grey-out {
  background-color: rgb(158, 156, 156);
  color: rgb(221, 219, 219);
  cursor: not-allowed;
}
.sidebar-option.selected {
  background-color: var(--selected);
  cursor: default;
}

.sidebar-content {
  height: calc(100% - var(--action-bar-height));
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  flex: 0 0 var(--footer-height);
  font-size: calc(8px + 2vmin);
}

.sidebar-footer {
  flex: 0 0 var(--footer-height);
  font-size: calc(8px + 2vmin);
}