.sidebar-logs {
  flex: 1;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin-bottom: var(--footer-height)
}

.hide-footer {
  margin-bottom: 0;
}

.log-container {
  padding: .5rem 2rem .5rem 0;
  width: 100%;
  min-height: 60px;
  display: flex;
}

.log-number {
  flex: 0 0 80px;
}

.log {
  flex: 1;
  padding: .4rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
.log:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.log-content-server {
  flex: 0 0 120px;
  color: royalblue;
}
.log-content-op {
  flex: 0 0 80px;
  font-weight: bold;
}
.log-content-data {
  flex: 1;
  padding-left: 1rem;
  text-align: left;
}

.unavailable {
  text-decoration: underline;
  font-style: italic;
}
