.machine-container {
  font-size: 2rem;
}

.machine {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: color .3s;
  cursor: pointer;
  color: var(--black);
}
.machine svg {
  font-size: 2em;
}
.machine:hover {
  color: var(--hover);
}
.machine.selected {
  color: var(--selected);
}
.machine.dead {
  color: grey;
}

.machine-id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
}

.db-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
}
.timer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

