.machine-list {
  display: flex;
  margin: 2rem 4rem 2rem 4rem;
}

.machine-container {
  flex: 1;
  margin: 0 1rem;
  font-size: 2rem;
}

.machine {
  display: flex;
  flex-direction: column;
  transition: color .3s;
  cursor: pointer;
  color: #282c34;
}
.machine svg {
  font-size: 2em;
}
.machine:hover {
  color: peru;
}
.machine.selected {
  color: #61DAFB;
}


.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
