* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --selected: orange;
  --hover: #61DAFB;
  --black: #282c34;
  --red: #fe6c6f;
  --timeout-track: mediumaquamarine;
  --election-timeout-track: orange;
  --msg-heartbeat: #fe6c6f;
  --msg-cmd-heartbeat: violet;
  --msg-ack: mediumspringgreen;
  --msg-rej: red;
  --action-bar-height: 96px;
}

:local .machine {
  flex: 3;
}

:local .sidebar {
  flex: 1 0 120px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}